einops==0.6.1
ipython==8.12.0
ipywidgets==8.0.6
jaxtyping==0.2.20
matplotlib==3.7.1
numpy==1.22.2
pandas==1.5.2
pgn==0.1.0
plotly==5.14.1
psutil==5.9.4
pytorch_lightning==2.0.2
rich==13.4.1
seaborn==0.12.2
streamlit==1.22.0
torch==2.1.0
tqdm==4.65.0
transformer_lens==1.2.2
transformers==4.29.2
typeguard==4.0.0
wandb==0.15.3
git+https://github.com/neelnanda-io/neel-plotly